<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	
	
	<filter>
	  <filter-name>XSSFilter</filter-name>
	  <filter-class>com.trunko.cms.util.XSSFilter</filter-class>
	 </filter>
   <filter-mapping>
	  <filter-name>XSSFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
		

	 <filter>
	  <filter-name>SetCharacterEncoding</filter-name>
	  <filter-class>com.trunko.cms.util.SetCharacterEncodingFilter</filter-class>
	  <init-param>
	   <param-name>encoding</param-name>
	   <param-value>GB18030</param-value>
	  </init-param>
	 </filter>
	 <filter-mapping>
	  <filter-name>SetCharacterEncoding</filter-name>
	  <url-pattern>/*</url-pattern>
	 </filter-mapping>
	 		
   <filter>
   <filter-name>PowerFilter</filter-name> 
   <filter-class>com.filter.PowerFilter</filter-class> 
   </filter>
    <filter-mapping>
    <filter-name>PowerFilter</filter-name> 
    <url-pattern>/*</url-pattern>
   </filter-mapping>
	
 
	 <filter>
		<filter-name>struts</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	 </filter>
	 <filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>*.do</url-pattern>
	 </filter-mapping>
	
	
	  <servlet>
	    <servlet-name>LoginServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.main.LoginServlet</servlet-class>
	  </servlet>
	  <servlet>
      <servlet-name>PictureCheckCode</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.main.PictureCheckCode</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>SysConfigServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.sysconfig.SysConfigServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>SysLogServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.sysconfig.SysLogServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>SysDataServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.sysconfig.SysDataServlet</servlet-class>
  	  </servlet>
	  <servlet>
	    <servlet-name>SysUserServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.sysconfig.SysUserServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>SysRoleServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.sysconfig.SysRoleServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>SpecialColumnServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.sysconfig.SpecialColumnServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>SysColumnServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.sysconfig.SysColumnServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>SysModelServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.sysconfig.SysModelServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>PeopleSuggestionServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.people.PeopleSuggestionServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>PeopleQuestionServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.people.PeopleQuestionServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>ContentManageServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.content.ContentManageServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>AjaxServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.ajax.AjaxServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>Column</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.content.Column</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>ArticleServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.article.ArticleServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>Article</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.content.Article</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>Question</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.content.Question</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>Subject</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.content.Subject</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>SubArticleServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.article.SubArticleServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>SubArticle</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.content.SubArticle</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>PeopleConsultServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.people.PeopleConsultServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>PeopleMailServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.people.PeopleMailServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>PeopleVoteServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.people.PeopleVoteServlet</servlet-class>
	  </servlet>
	
    <servlet>
	    <servlet-name>Index</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.location.Index</servlet-class>
	  </servlet>
	
	  <servlet>
	    <servlet-name>SubColumn</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.location.SubColumn</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>zfxxgk</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.location.zfxxgk</servlet-class>
	  </servlet>
  <servlet>
    <servlet-name>AdManageServlet</servlet-name>
    <servlet-class>com.trunko.cms.servlet.sysconfig.AdManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UrlManageServlet</servlet-name>
    <servlet-class>com.trunko.cms.servlet.sysconfig.UrlManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PeopleAttendServlet</servlet-name>
    <servlet-class>com.trunko.cms.servlet.people.PeopleAttendServlet</servlet-class>
  </servlet>
  <servlet>

    <servlet-name>ShowArticle</servlet-name>
    <servlet-class>com.trunko.cms.servlet.location.ShowArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditorFile</servlet-name>
    <servlet-class>com.trunko.cms.servlet.article.EditorFile</servlet-class>
  </servlet>

	  <servlet>
	    <servlet-name>InfoGuideServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.infoopen.InfoGuideServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>InfoOpenServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.infoopen.InfoOpenServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>InfoRegServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.infoopen.InfoRegServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>InfoApplyServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.infoopen.InfoApplyServlet</servlet-class>
	  </servlet>
	  <servlet>
	    <servlet-name>InfoReportServlet</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.infoopen.InfoReportServlet</servlet-class>
	  </servlet>
  <servlet>
    <servlet-name>quearyServlet</servlet-name>
    <servlet-class>com.trunko.cms.servlet.location.quearyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.trunko.cms.servlet.main.WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.trunko.cms.servlet.main.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PasswordServlet</servlet-name>
    <servlet-class>com.trunko.cms.servlet.main.PasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CbxmServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.CbxmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZsxmServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.ZsxmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZdxmServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.ZdxmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ZdaxmServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.ZdaxmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ZdxmYbServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.ZdxmYbServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZdaxmYbServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.ZdaxmYbServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AreaServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.AreaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndustryServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.IndustryServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Vote</servlet-name>
    <servlet-class>com.trunko.cms.servlet.location.Vote</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PreviewServlet</servlet-name>
    <servlet-class>com.trunko.cms.servlet.article.PreviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubjectColumn</servlet-name>
    <servlet-class>com.trunko.cms.servlet.location.SubjectColumn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowSubjectArticle</servlet-name>
    <servlet-class>com.trunko.cms.servlet.location.ShowSubjectArticle</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NumberServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.NumberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.ManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZdxmSbyhServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.ZdxmSbyhServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZdaxmSbyhServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.ZdaxmSbyhServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CbxmSbyhServlet</servlet-name>
    <servlet-class>com.trunko.project.serlvet.CbxmSbyhServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommonLogin</servlet-name>
    <servlet-class>com.trunko.cms.servlet.main.CommonLogin</servlet-class>
  </servlet>
  
 	  <servlet>
	    <servlet-name>SysnPwd</servlet-name>
	    <servlet-class>com.trunko.cms.servlet.main.SysnchronizedPwd</servlet-class>
	  </servlet>
	  
	  <servlet>
	  <servlet-name>cbArticle</servlet-name>
	  <servlet-class>com.trunko.project.serlvet.CbxmArticleServlet</servlet-class>
	  </servlet>
	  
  















      <servlet-mapping>
      <servlet-name>cbArticle</servlet-name>
      <url-pattern>/cbArticle</url-pattern>
      </servlet-mapping>


  	  <servlet-mapping>
	    <servlet-name>InfoGuideServlet</servlet-name>
	    <url-pattern>/admin/infoopen/InfoGuideServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>InfoOpenServlet</servlet-name>
	    <url-pattern>/admin/infoopen/InfoOpenServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>InfoRegServlet</servlet-name>
	    <url-pattern>/admin/infoopen/InfoRegServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>InfoApplyServlet</servlet-name>
	    <url-pattern>/admin/infoopen/InfoApplyServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>InfoReportServlet</servlet-name>
	    <url-pattern>/admin/infoopen/InfoReportServlet</url-pattern>
	  </servlet-mapping>
	

	  <servlet-mapping>
	    <servlet-name>LoginServlet</servlet-name>
	    <url-pattern>/admin/LoginServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>PictureCheckCode</servlet-name>
	    <url-pattern>/admin/PictureCheckCode</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>SysConfigServlet</servlet-name>
	    <url-pattern>/admin/setting/SysConfigServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>SysLogServlet</servlet-name>
	    <url-pattern>/admin/setting/SysLogServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>SysDataServlet</servlet-name>
	    <url-pattern>/admin/setting/SysDataServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>SysUserServlet</servlet-name>
	    <url-pattern>/admin/setting/SysUserServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>SysRoleServlet</servlet-name>
	    <url-pattern>/admin/setting/SysRoleServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>SpecialColumnServlet</servlet-name>
	    <url-pattern>/admin/setting/SpecialColumnServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>SysColumnServlet</servlet-name>
	    <url-pattern>/admin/setting/SysColumnServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>SysModelServlet</servlet-name>
	    <url-pattern>/admin/setting/SysModelServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>PeopleSuggestionServlet</servlet-name>
	    <url-pattern>/admin/public/PeopleSuggestionServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>PeopleQuestionServlet</servlet-name>
	    <url-pattern>/admin/public/PeopleQuestionServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>ContentManageServlet</servlet-name>
	    <url-pattern>/admin/content/ContentManageServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>AjaxServlet</servlet-name>
	    <url-pattern>/admin/AjaxServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>Column</servlet-name>
	    <url-pattern>/Column</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>ArticleServlet</servlet-name>
	    <url-pattern>/admin/article/ArticleServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>Article</servlet-name>
	    <url-pattern>/Article</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>Question</servlet-name>
	    <url-pattern>/Question</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>Subject</servlet-name>
	    <url-pattern>/Subject</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>SubArticleServlet</servlet-name>
	    <url-pattern>/admin/article/SubArticleServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>SubArticle</servlet-name>
	    <url-pattern>/SubArticle</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>PeopleConsultServlet</servlet-name>
	    <url-pattern>/admin/public/PeopleConsultServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>PeopleMailServlet</servlet-name>
	    <url-pattern>/admin/public/PeopleMailServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>PeopleVoteServlet</servlet-name>
	    <url-pattern>/admin/public/PeopleVoteServlet</url-pattern>
	  </servlet-mapping>
	
	
	<servlet-mapping>
	    <servlet-name>Index</servlet-name>
	    <url-pattern>/index1.htm</url-pattern>
	  </servlet-mapping>
	
	  <servlet-mapping>
	    <servlet-name>SubColumn</servlet-name>
	    <url-pattern>/subcolumn.htm</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>zfxxgk</servlet-name>
	    <url-pattern>/zfxxgk.htm</url-pattern>
	  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdManageServlet</servlet-name>
    <url-pattern>/admin/help/AdManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UrlManageServlet</servlet-name>
    <url-pattern>/admin/help/UrlManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PeopleAttendServlet</servlet-name>
    <url-pattern>/PeopleAttendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowArticle</servlet-name>
    <url-pattern>/ShowArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditorFile</servlet-name>
    <url-pattern>/admin/EditorFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>quearyServlet</servlet-name>
    <url-pattern>/quearyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/admin/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/admin/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PasswordServlet</servlet-name>
    <url-pattern>/admin/PasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CbxmServlet</servlet-name>
    <url-pattern>/admin/cbxm/CbxmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZsxmServlet</servlet-name>
    <url-pattern>/admin/zsxm/ZsxmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZdxmServlet</servlet-name>
    <url-pattern>/admin/zdxm/ZdxmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZdaxmServlet</servlet-name>
    <url-pattern>/admin/zdaxm/ZdaxmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZdxmYbServlet</servlet-name>
    <url-pattern>/admin/zdxm/ZdxmYbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZdaxmYbServlet</servlet-name>
    <url-pattern>/admin/zdaxm/ZdaxmYbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AreaServlet</servlet-name>
    <url-pattern>/admin/AreaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndustryServlet</servlet-name>
    <url-pattern>/admin/IndustryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Vote</servlet-name>
    <url-pattern>/Vote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreviewServlet</servlet-name>
    <url-pattern>/admin/article/PreviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubjectColumn</servlet-name>
    <url-pattern>/SubjectColumn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowSubjectArticle</servlet-name>
    <url-pattern>/ShowSubjectArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NumberServlet</servlet-name>
    <url-pattern>/admin/NumberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/admin/ManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZdxmSbyhServlet</servlet-name>
    <url-pattern>/admin/zdxm_sbyh/ZdxmSbyhServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZdaxmSbyhServlet</servlet-name>
    <url-pattern>/admin/zdaxm_sbyh/ZdaxmSbyhServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>CbxmSbyhServlet</servlet-name>
    <url-pattern>/admin/cbxm_sbyh/CbxmSbyhServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommonLogin</servlet-name>
    <url-pattern>/commonlogin</url-pattern>
  </servlet-mapping>
   
   <servlet-mapping>
    <servlet-name>SysnPwd</servlet-name>
    <url-pattern>/SysnPwd</url-pattern>
  </servlet-mapping>
  

	  
	  <welcome-file-list>
	    <welcome-file>index1.htm</welcome-file>
	  </welcome-file-list>
	  
	  
	
</web-app>